In [24]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/botk/.local/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: tzdata>=2022.7 in /home/botk/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/botk/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/botk/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
pip install tk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tk in /home/botk/.local/lib/python3.10/site-packages (0.1.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/botk/.local/lib/python3.10/site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [27]:
import pandas as pd
import numpy as np
import time
from datetime import datetime

In [28]:
players=pd.read_csv('data.csv')

In [29]:
z=[]
for i in range(len(players)):
    z.append(players['Matches Played Together'][i]+players['Matches Played As Opponents'][i])

In [30]:
b = (z - np.min(z))/np.ptp(z)
b=list(b)
players['Score_for_chem']=b

In [31]:
def chemistry(x,y):
    X=players[players['Player 1']==x]
    Y=X[X['Player 2']==y]
    return Y['Score_for_chem'].values[0]

In [32]:
def one_vs_team_experience_score(x,y):
    c=0
    s=0
    for i in y:
        X=players[players['Player 1']==x]
        Y=X[X['Player 2']==i]
        try:            
            z=Y['Score_for_chem'].values[0]

        except:
            z=0
        if z!=0:
            c+=1
            s+=z
    try:
        m=s/c
    except:
        m=0
    return m

In [33]:
def team_vs_team_experience_score(x,y):
    s=0
    
    for i in y:
        
        s=s+one_vs_team_experience_score(i,y)
    return s/11

In [34]:
def stats(x,y):
    X=players[players['Player 1']==x]
    Y=X[X['Player 2']==y]
    try:
        return Y['Stats Points Player 1'].values[0]
    except:
        return 0

In [35]:
def one_vs_team_stats(x,y):
    s=0
    for i in y:
        
        s=s+stats(x,i)
    return s

In [36]:
def team_vs_team_stats(x,y):
    s=0
    for i in x:
        s=s+one_vs_team_stats(i,y)
    return s

change link here

In [37]:
#https://docs.google.com/spreadsheets/d/1MlYYb_5VFZTot9-1GCGfvrFuyo0guyT0St5btkvG1tA/gviz/tq?tqx=out:csv
def teams():
    x={}
    teams=pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTFmZjDAm3q_F2jqB-lAyMRFGeQRztKhPRviNC0Yowpu75ZNuKA2phagkIqWh3LLA/pub?output=csv')
    display(teams)
    display(teams.columns)
    x['CSK']=list(teams[teams['CSK']==1]['Name'].values)
    x['RCB']=list(teams[teams['RCB']==1]['Name'].values)
    x['SRH']=list(teams[teams['SRH']==1]['Name'].values)
    x['GT']=list(teams[teams['GT']==1]['Name'].values)
    x['LSG']=list(teams[teams['LSG']==1]['Name'].values)
    x['MI']=list(teams[teams['MI']==1]['Name'].values)
    x['KKR']=list(teams[teams['KKR']==1]['Name'].values)
    x['PK']=list(teams[teams['PK']==1]['Name'].values)
    x['DC']=list(teams[teams['DC']==1]['Name'].values)
    x['RR']=list(teams[teams['RR']==1]['Name'].values)
    return x

In [38]:
def test_player_in_team(team,player,y):
    #player='NLTC Perera'
    #team='RR'
    y[team].append(player)
    
    m=[i for i in y.keys() if i!=team]
    z={'Against Team':[],'Experience Score Team 1':[],'Stats Score Team 1':[],'Overall Team 1':[],
       'Experience Score Team 2':[],'Stats Score Team 2':[],'Overall Team 2':[]}
    for i in m:
        
        a=team_vs_team_experience_score(y[team],y[i])
        b=team_vs_team_stats(y[team],y[i])
        a2=team_vs_team_experience_score(y[i],y[team])
        b2=team_vs_team_stats(y[i],y[team])
        z['Against Team'].append(i)
        z['Experience Score Team 1'].append(a)
        z['Stats Score Team 1'].append(b)
        z['Experience Score Team 2'].append(a2)
        z['Stats Score Team 2'].append(b2)
        z['Overall Team 1'].append(a*10+b)
        z['Overall Team 2'].append(a2*10+b2)
    z=pd.DataFrame(z)
    return z

In [39]:
teams()

,Name,CSK,RCB,MI,GT,LSG,PK,SRH,RR,KKR,DC,Sold,Unsold,Amount (in lakhs)
0,Select One,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1,RG Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,V Kohli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SK Raina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DA Warner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,P Negi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,AB Agarkar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NLTC Perera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,MC Henriques,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,DT Christian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['Name', 'CSK', 'RCB', 'MI', 'GT', 'LSG', 'PK', 'SRH', 'RR', 'KKR', 'DC',
       'Sold ', 'Unsold', 'Amount (in lakhs)'],
      dtype='object')

{'CSK': [],
 'RCB': [],
 'SRH': [],
 'GT': [],
 'LSG': [],
 'MI': [],
 'KKR': [],
 'PK': [],
 'DC': [],
 'RR': []}

In [40]:
def team_with_player(team,player):
    x=teams()
    return test_player_in_team(team,player,x)

In [41]:
def teamOverAll(x,z):
    a=0
    b=0
    
    y={'Team 1':[] ,'Team 2': [],'Team 1 Wins':[] ,'Team 2 Wins':[] }
    for i in t_lst_1:
        if i !=x:
            y['Team 1'].append(x)
            y['Team 2'].append(i)
            a1=team_vs_team_experience_score(z[x],z[i])
            b1=team_vs_team_stats(z[x],z[i])
            c1=a1+b1
            a2=team_vs_team_experience_score(z[i],z[x])
            b2=team_vs_team_stats(z[i],z[x])
            c2=a2+b2
            if c1>=c2:
                y['Team 1 Wins'].append(True)
                y['Team 2 Wins'].append(False)
            else:
                y['Team 2 Wins'].append(True)
                y['Team 1 Wins'].append(False)
    y=pd.DataFrame(y)
    a=len(y[y['Team 1 Wins']==True])
    #display(y)
    print('Total wins for {} is {}'.format(x,a))
    return y,a

In [42]:
def teamWithTeam(team1,team2):
    x=teams()
    
    z={'Team 1':[],'Team 2':[],'Experience Score Team 1':[],'Stats Score Team 1':[],'Overall Team 1':[],
       'Experience Score Team 2':[],'Stats Score Team 2':[],'Overall Team 2':[]}
    a=team_vs_team_experience_score(x[team1],x[team2])
    b=team_vs_team_stats(x[team1],x[team2])
    a2=team_vs_team_experience_score(x[team2],x[team1])
    b2=team_vs_team_stats(x[team2],x[team1])
    z['Team 1']=team1
    z['Team 2']=team2
    z['Experience Score Team 1'].append(a)
    z['Stats Score Team 1'].append(b)
    z['Experience Score Team 2'].append(a2)
    z['Stats Score Team 2'].append(b2)
    z['Overall Team 1'].append(a*10+b)
    z['Overall Team 2'].append(a2*10+b2)

    z=pd.DataFrame(z)
    
    return z

change link here

In [43]:
p=pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTFmZjDAm3q_F2jqB-lAyMRFGeQRztKhPRviNC0Yowpu75ZNuKA2phagkIqWh3LLA/pub?output=csv')
# m=pd.read_csv('https://docs.google.com/spreadsheets/d/1zhpcj7_6Uq96UDNEi3ZS-bu5B3AXCXSRDeiHy0nvvfE/gviz/tq?tqx=out:csv')

In [44]:
from tkinter import *
import numpy as np
import pandas as pd
from tkinter import Tk, Button, Frame, StringVar
from tkinter.ttk import Combobox
from tkinter import ttk

In [45]:
#this for player
p_lst_1 = list(p['Name'])
p_lst_1.sort()

#this for team
t_lst_1 = ['CSK', 'RCB', 'SRH', 'GT', 'LSG', 'MI', 'KKR', 'PK', 'DC', 'RR']
t_lst_1.sort()

# The below Cell tells if you add a player to a particular team how will the stats respond

In [46]:
root = Tk()
root.configure(bg='light blue')
root.title("IPL DATABID -PLAYER AUCTION")

def get_info():
    top = Toplevel()
    team=cb1_var.get()
    player=cb2_var.get()
    print("For {} in {} team".format(player,team))
    x=team_with_player(team,player)
    text=Text(top,width=80, height=15)
    text.insert(END,x)
    text.grid()
    
    
root.geometry("500x300")
cb1_var = StringVar()

cb1 = ttk.Label(root, text = "Team :", background = 'light blue',
          font = ("Times New Roman", 10)).grid(column = 0,
          row = 5, padx = 10, pady = 25)
cb1 = ttk.Combobox(root, width = 27, values=t_lst_1, textvariable = cb1_var)
cb1.grid(column = 1, row = 5)


cb2_var = StringVar()

cb2 = ttk.Label(root, text = "Player :",background = 'light blue',
          font = ("Times New Roman", 10)).grid(column = 2,
          row = 5, padx = 5, pady = 15)

   
cb2 = ttk.Combobox(root, width = 27, values=p_lst_1,textvariable = cb2_var)
cb2.grid(column=3, row =5)  



Button(root, text='Confirm', command=get_info).grid(row=7,column=2,padx=1)


root.mainloop()

For Z Khan in MI team

,Name,CSK,RCB,MI,GT,LSG,PK,SRH,RR,KKR,DC,Sold,Unsold,Amount (in lakhs)
0,Select One,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1,RG Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,V Kohli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SK Raina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DA Warner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,P Negi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,AB Agarkar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NLTC Perera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,MC Henriques,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,DT Christian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['Name', 'CSK', 'RCB', 'MI', 'GT', 'LSG', 'PK', 'SRH', 'RR', 'KKR', 'DC',
       'Sold ', 'Unsold', 'Amount (in lakhs)'],
      dtype='object')

For Z Khan in MI team

,Name,CSK,RCB,MI,GT,LSG,PK,SRH,RR,KKR,DC,Sold,Unsold,Amount (in lakhs)
0,Select One,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1,RG Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,V Kohli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SK Raina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DA Warner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,P Negi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,AB Agarkar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NLTC Perera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,MC Henriques,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,DT Christian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['Name', 'CSK', 'RCB', 'MI', 'GT', 'LSG', 'PK', 'SRH', 'RR', 'KKR', 'DC',
       'Sold ', 'Unsold', 'Amount (in lakhs)'],
      dtype='object')

For Z Khan in MI team

,Name,CSK,RCB,MI,GT,LSG,PK,SRH,RR,KKR,DC,Sold,Unsold,Amount (in lakhs)
0,Select One,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1,RG Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,V Kohli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SK Raina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DA Warner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,P Negi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,AB Agarkar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NLTC Perera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,MC Henriques,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,DT Christian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['Name', 'CSK', 'RCB', 'MI', 'GT', 'LSG', 'PK', 'SRH', 'RR', 'KKR', 'DC',
       'Sold ', 'Unsold', 'Amount (in lakhs)'],
      dtype='object')

For Z Khan in MI team

,Name,CSK,RCB,MI,GT,LSG,PK,SRH,RR,KKR,DC,Sold,Unsold,Amount (in lakhs)
0,Select One,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1,RG Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,V Kohli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SK Raina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DA Warner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,P Negi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,AB Agarkar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NLTC Perera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,MC Henriques,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,DT Christian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['Name', 'CSK', 'RCB', 'MI', 'GT', 'LSG', 'PK', 'SRH', 'RR', 'KKR', 'DC',
       'Sold ', 'Unsold', 'Amount (in lakhs)'],
      dtype='object')

For Z Khan in MI team

,Name,CSK,RCB,MI,GT,LSG,PK,SRH,RR,KKR,DC,Sold,Unsold,Amount (in lakhs)
0,Select One,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1,RG Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,V Kohli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SK Raina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DA Warner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,P Negi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,AB Agarkar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NLTC Perera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,MC Henriques,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,DT Christian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['Name', 'CSK', 'RCB', 'MI', 'GT', 'LSG', 'PK', 'SRH', 'RR', 'KKR', 'DC',
       'Sold ', 'Unsold', 'Amount (in lakhs)'],
      dtype='object')

For Z Khan in MI team

,Name,CSK,RCB,MI,GT,LSG,PK,SRH,RR,KKR,DC,Sold,Unsold,Amount (in lakhs)
0,Select One,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1,RG Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,V Kohli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SK Raina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DA Warner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,P Negi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,AB Agarkar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NLTC Perera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,MC Henriques,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,DT Christian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['Name', 'CSK', 'RCB', 'MI', 'GT', 'LSG', 'PK', 'SRH', 'RR', 'KKR', 'DC',
       'Sold ', 'Unsold', 'Amount (in lakhs)'],
      dtype='object')

# Below code will help you find stats between two teams

In [47]:
root = Tk()

root.configure(bg='light blue')
root.title("IPL DATABID -PLAYER AUCTION")
def get_info():
    top = Toplevel()
    team1=cb1_var.get()
    team2=cb2_var.get()
    print("For {} vs {} ".format(team1,team2))
    x=teamWithTeam(team1,team2)
    text=Text(top,width=80, height=15)
    text.insert(END,x)
    text.grid()
    
    

root.geometry("500x300")
cb1_var = StringVar()

cb1 = ttk.Label(root, text = "Team 1 :", background = 'light blue',
          font = ("Times New Roman", 10)).grid(column = 0,
          row = 5, padx = 10, pady = 25)
cb1 = ttk.Combobox(root, width = 27, values=t_lst_1, textvariable = cb1_var)
cb1.grid(column = 1, row = 5)



cb2_var = StringVar()

cb2 = ttk.Label(root, text = "Team 2 :",background = 'light blue',
          font = ("Times New Roman", 10)).grid(column = 2,
          row = 5, padx = 5, pady = 15)

   
cb2 = ttk.Combobox(root, width = 27, values=t_lst_1,textvariable = cb2_var)
cb2.grid(column=3, row =5)  



Button(root, text='Confirm', command=get_info).grid(row=7,column=2,padx=1)


root.mainloop()

# The below code will help you to know about Player vs Player stats

In [48]:
root = Tk()

root.configure(bg='light blue')
root.title("IPL DATABID -PLAYER AUCTION")
def get_info():
    top = Toplevel()
    player1=cb1_var.get()
    player2=cb2_var.get()
    print("For {} vs {} ".format(player1,player2))
    x1=chemistry(player1,player2)
    x2=stats(player1,player2)
    x3=stats(player2,player1)
    x={'Player 1':[player1],'Player 2':[player2],'Chemistry':[x1],
        'Stats Player 1':[x2],'Stats Player 2':[x3]}
    x=pd.DataFrame(x)
    text=Text(top,width=80, height=15)
    text.insert(END,x)
    text.grid()
    
    

root.geometry("500x300")
cb1_var = StringVar()

cb1 = ttk.Label(root, text = "Player 1 :", background = 'light blue',
          font = ("Times New Roman", 10)).grid(column = 0,
          row = 5, padx = 10, pady = 25)
cb1 = ttk.Combobox(root, width = 27, values=p_lst_1, textvariable = cb1_var)
cb1.grid(column = 1, row = 5)



cb2_var = StringVar()

cb2 = ttk.Label(root, text = "Player 2 :",background = 'light blue',
          font = ("Times New Roman", 10)).grid(column = 2,
          row = 5, padx = 5, pady = 15)

   
cb2 = ttk.Combobox(root, width = 27, values=p_lst_1,textvariable = cb2_var)
cb2.grid(column=3, row =5)  



Button(root, text='Confirm', command=get_info).grid(row=7,column=2,padx=1)


root.mainloop()

# The below code will explain about winning and losing status with your current team formed

In [49]:
root = Tk()

root.configure(bg='light blue')
root.title("IPL DATABID -PLAYER AUCTION")
#root.iconphoto(False,p1)
def get_info():
    top = Toplevel()
    team=cb1_var.get()
    z=teams()
    x,a=teamOverAll(team,z)
    text=Text(top,width=80, height=15)
    text.insert(END,x)
    text.grid()
    #print(x)

root.geometry("500x300")
cb1_var = StringVar()


cb1 = ttk.Label(root, text = "Team 1 :", background = 'light blue',
          font = ("Times New Roman", 10)).grid(column = 0,
          row = 5, padx = 10, pady = 25)
cb1 = ttk.Combobox(root, width = 27, values=t_lst_1, textvariable = cb1_var)
cb1.grid(column = 1, row = 5)


Button(root, text='Confirm', command=get_info).grid(row=7,column=2,padx=1)


root.mainloop()

# The below code will help you to find the final Points table

In [50]:
z=teams()
p={'Team':[],'Points':[]}
for i in t_lst_1:
    m,k=teamOverAll(i,z)
    p['Team'].append(i)
    p['Points'].append(k*2)
p=pd.DataFrame(p)
p=p.sort_values('Points',ascending=False)
display(p)

URLError: <urlopen error [Errno 113] No route to host>